.withdraw {
  margin-bottom: 30px;

  .container {
    .wrapper {
      display: grid;

      grid-template-columns: 1fr;
      grid-gap: 24px;

      .col {
        display: flex;

        flex-direction: column;

        .fieldset {
          display: flex;

          flex-direction: column;

          > * {
            align-self: flex-start;

            width: 100%;

            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

@media (--min-xl) {
  .withdraw {
    .container {
      .wrapper {
        grid-template-columns: 2fr 1fr;
      }
    }
  }
}
