.passwordReset {
  .body {
    padding: 80px 0;

    .nonFieldErrors {
      text-align: center;

      p {
        &:not(:first-child) {
          margin-top: 6px;
        }
      }
    }
  }
}

@media (--min-sm) {
  .passwordReset {
    .body {
      width: 400px;

      margin: auto;
    }
  }
}

.hasError {
  margin-top: 2px;

  font-size: var(--font-size-tiny);

  color: var(--color-red);
}
