.chat {
  .wrapper {
    position: relative;

    display: flex;

    flex: 1;
    flex-direction: column;

    min-height: min(60vh, 300px);

    .innerWrapper {
      position: absolute;

      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      > * {
        width: 100%;
      }
    }
  }
}
