.passwordRecovery {
  .body {
    padding: 80px 0;

    .done {
      display: flex;

      align-items: center;

      flex-direction: column;

      svg {
        display: block;

        max-width: 200px;
      }

      .doneDescription {
        margin-top: 40px;

        font-size: var(--font-size-big);
        font-weight: 600;

        text-align: center;

        color: var(--color-white);
      }
    }
  }
}

@media (--min-sm) {
  .passwordRecovery {
    .body {
      width: 400px;

      margin: auto;
    }
  }
}
