.wallet {
  margin-bottom: 30px;

  .container {
    .wrapper {
      display: grid;

      grid-template-columns: 1fr;
      grid-gap: 24px;

      .col {
        display: flex;

        flex-direction: row;
        flex-wrap: wrap;

        justify-content: space-between;

        > * {
          width: 100%;

          margin-bottom: 30px;
        }
      }
    }
  }
}

@media (--min-md) {
  .wallet {
    .container {
      .wrapper {
        .col {
          .balance, .depositBox {
            width: calc(50% - 12px);
          }
        }
      }
    }
  }
}

@media (--min-lg) {
  .wallet {
    .container {
      .wrapper {
        grid-template-columns: 2fr 1fr;

        .col {
          .balance, .depositBox {
            width: 100%;
          }
        }
      }
    }
  }
}
